.profile__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.profile__subtitle {
  position: absolute;
  top: 0;
  left: 0;
}

.login {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin: 0 0 9px;
  padding: 0;
  color: #a0a0a0;
  height: 60px;
  box-sizing: border-box;
  position: relative;
}

.login__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 5px 0 9px;
  margin: 0;
  border-style: none;
  text-align: left;
  width: 100%;
  border-bottom: #e8e8e8 1px solid;
}

.login__input:focus {
  outline: 0.5px solid #3456F3;
}

.login__title {
  font-size: 10px;
  line-height: 14px;
}

.profile__input {
  margin: 0 0 17px;
  padding: 0 0 15px;
  box-sizing: border-box;
  border-style: none;
  width: 100%;
  justify-content: center;
  border-bottom: #e8e8e8 1px solid;
  text-align: right;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  box-sizing: border-box;
}

.profile__input_invaid {
  color: #ff3055;
}

.profile__input[type="email"] {
  border: none;
}

.profile-error {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #ff3055;
  align-items: center;
  position: absolute;
  top: 52px;
  left: 0;
}

.profaile__change {
  margin: 183px auto 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #000;
}

.profile__out {
  margin: 15px auto 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #ff3055;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.profile__out:hover {
  opacity: 0.7;
}

/* media */
@media only screen and (max-width: 768px) {
  .profaile__change {
    margin: 343px auto 0;
  }

  .profile__input {
    padding: 0 0 17px;
  }
}
