.project {
  columns: 219px 2;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin: 70px 0 110px;
}

.project__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  margin: 0;
  padding: 0;
  max-width: 550px;
  word-spacing: 2px;
  letter-spacing: -1px;
}

.project__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 26px 0 0;
  padding: 0;
}

.project-time {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  text-align: center;
}

.project-time__first {
  background-color: #2be080;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

.project-time__next {
  background-color: #f2f2f2;
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
}

.project-time__text {
  color: #a0a0a0;
  margin: 0 auto;
  padding: 14px 0;
}

@media only screen and (max-width: 768px) {
  .project {
    column-gap: 30px;
    margin: 70px 0 93px;
  }

  .project__description {
    font-size: 12px;
    line-height: 18px;
    margin: 21px 0 0;
  }

  .project-time {
    line-height: 19px;
  }

  .project-time__first {
    padding: 9px 3px;
  }
  .project-time__next {
    padding: 9px 3px;
  }
}

@media only screen and (max-width: 600px) {
  .project {
    margin: 0 0 60px;
  }

  .project__description {
    font-size: 11px;
    margin-top: 16px;
  }

  .project__title {
    font-size: 18px;
    line-height: 21px;
    word-spacing: 3px;
  }

  .project__description {
    font-size: 11px;
    line-height: 16px;
  }

  .project-time {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: 11px;
    line-height: 12px;
  }

  .project-time__first {
    padding: 12px 0px;
  }

  .project-time__next {
    padding: 12px 0px;
  }
  .project-time__text {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 495px) {
  .project__title {
    margin-top: 60px;
  }
}
