.app {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .lock {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 100vh;
  }
}
/* 
* {
  outline: 1px solid red;
} */
